<p id="notice"><%= notice %></p>

<h1>Listing Book Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_purchases.each do |book_purchase| %>
      <tr>
        <td><%= book_purchase.name %></td>
        <td><%= book_purchase.author %></td>
        <td><%= book_purchase.price %></td>
        <td><%= link_to 'Show', book_purchase %></td>
        <td><%= link_to 'Edit', edit_book_purchase_path(book_purchase) %></td>
        <td><%= link_to 'Destroy', book_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book purchase', new_book_purchase_path %>
